<div class="container-fluid px-0">
  <div class="row mt-4">
    <div class="col-11 mx-auto">

      <div class="">
      <div class="d-flex">
        <p>
          <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSiteNote" aria-expanded="false" aria-controls="collapseSiteNote">
            <i class="fas fa-file-import fa-2x"></i>
          </button>
        </p>

        <div class="collapse w-90 ms-3 show" id="collapseSiteNote">
          <div class="bg-site pt-3 pb-1 px-4 mb-2">
            <%= form_with(model: @site) do |f| %>
              <%= f.text_field :url, class: 'form-control mb-3', placeholder: "例：https://hogehoge" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
  
  <div class= "pt-4">
    <h1 class="ms-3 text-dark">ー Your Site Note ー</h1>
    <div class="d-flex flex-wrap mx-4 mb-5">
      <%= render @sites %>
    </div>
  </div>

    </div>
  </div>
</div>
