<div id="top-page">
  <div class="container-fluid">

<ul class="circles mb-0 px-0">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

    <div class="row align-items-center px-0" id="top-massage">
      <div class="col-12 text-center py-8">
        <div class="top contents">
          <h1 class="lh-sm fs-lg-6 fs-xxl-7">Wlecome to 
            <span class="text-primary">SITE<span class="text-warning"> NOTE</span></span> 
          </h1>
          <p class="text-700">SITE NOTEは様々なWebサイトを管理するためのツールです。 <br/>お気に入りのサイトや学習で利用したサイトにあなたのメモを添えて管理することができます。 </p>
          <div class="mt-5"><%= link_to 'ゲストログイン', users_guest_sign_in_url, method: :post, class: "btn btn-warning rounded-pill" %></div>
        </div>
      </div>
    </div>
  </div>
</div>

