 <!-- Modal -->
<div class="modal fade" id="noteModal_<%= site.id %>" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable w-90 mx-auto">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLabel">Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="py-3 px-4 mb-2">
          <%= markdown(site.note) %>
        </div>
      </div>
    </div>
  </div>
</div>