<footer class="w-100">
  <div class="fotter-contents d-flex align-items-end justify-content-end border-top pb-3 mx-3" style="height: 80px">
  <span class="text-secondary me-3">The SiteNote by RyomaKoshimaru</span>
  <a href="https://twitter.com/harinezumi90128" class="me-4 text-reset me-3" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-twitter fa-2x"></i>
  </a>
  <a href="https://github.com/kosimaru1997" class="me-4 text-reset me-3" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-github fa-2x"></i>
  </a>
</footer>