<header>
  <nav class="navbar navbar-expand-lg navbar-light py-2 d-block border-bottom" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container-fluid">
      <a class="navbar-brand d-inline-flex" href="#">
        <span class="fs-2 fw-bold text-primary ms-2">SITE <span class="text-warning">NOTE</span></span>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-right border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item px-2"><a class="nav-link fw-bold" aria-current="page" href="">Home</a></li>
          <li class="nav-item px-2"><a class="nav-link fw-bold" href="#howitworks">How it works</a></li>
          <li class="nav-item px-2"><a class="nav-link fw-bold" href="#services">Services</a></li>
          <li class="nav-item px-2">
            <%= link_to "Log out", destroy_user_session_path, method: 'DELETE', class: "nav-link text-white btn btn-primary" %>
          </li>
        <% else %>
          <li class="nav-item px-2">
            <%= link_to "Log in", new_user_session_url, class: "nav-link text-white btn btn-primary" %>
          </li>
          <li class="nav-item px-2">
            <%= link_to "Sign up", new_user_registration_url, class: "nav-link text-dark btn btn-warning" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>